# General Files
*.retry
*.lock
inventory
fetch/
/site
.DS_Store
pkg/
venv/

# swp files
*.swp
idea/
bootstrap_install/server_credentials

# User Specific
settings/
settings_*/
tasks/ansible_bash.vars
package_template/tmp_service
package_template/tmp*.yml

# IDE specific
/.vscode

# CLI specific
decrypted.yml
VlabDebug*.txt
vendor/
/*.tf*

# Commit specific
INSTALL_PRECOMMIT.sh

# Node
node_modules/

# Service-edit Task
docker-compose.override.yml

# CI
settings_ci/
