---
- name: Create necessary folders, with appropriate permissions.
  file:
    path: "{{ volumes_root }}/nextcloud/{{ item }}"
    state: directory
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
  with_items:
    - "config"
    - "custom_apps"
    - "themes"
    - "postgres"
    - "web"
    - "build"
  become: yes

- name: Create necessary Media Folders / NAS Mount Points
  file:
    path: "{{ storage_dir }}/Documents/NextCloud/data"
    state: directory
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
  become: yes  # /mnt is owned by root

- name: Copy nextcloud web Dockerfile into place.
  copy:
    src: "web/Dockerfile"
    dest: "{{ volumes_root }}/nextcloud/web/Dockerfile"
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
  become: yes

- name: Copy nextcloud web nginx.conf into place.
  copy:
    src: "web/nginx.conf"
    dest: "{{ volumes_root }}/nextcloud/web/nginx.conf"
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
  become: yes

- name: Copy nextcloud build Dockerfile into place.
  copy:
    src: "build/Dockerfile"
    dest: "{{ volumes_root }}/nextcloud/build/Dockerfile"
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
  become: yes

- name: Copy nextcloud build entrypoint.sh into place.
  copy:
    src: "build/entrypoint.sh"
    dest: "{{ volumes_root }}/nextcloud/build/entrypoint.sh"
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
    mode: +x
  become: yes

- name: Copy nextcloud docker-compose.yml file into place.
  template:
    src: docker-compose.nextcloud.yml.j2
    dest: "{{ volumes_root }}/nextcloud/docker-compose.yml"
    owner: "{{ uid_output.stdout }}"
    group: "{{ gid_output.stdout }}"
  vars:
    tor_domain: "{{ tor_http_domain_file.stdout | default('') }}"
  become: yes

- name: Configure nextcloud systemd service.
  become: yes
  template:
    src: service.j2
    dest: /etc/systemd/system/nextcloud.service

- name: Start nextcloud
  systemd:
    name: nextcloud
    enabled: yes
    daemon-reload: yes
    state: started
  become: yes
