#jinja2: trim_blocks:False
---
version: '3'

networks:
  traefik_network:
    external:
      name: vivumlab_traefik
  gitea_net:

services:
  gitea:
    container_name: gitea
    image: gitea/gitea:{{ gitea.version }}
    user: "{{ uid_output.stdout }}:{{ gid_output.stdout }}"
    networks:
      - traefik_network
      - gitea_net
    environment:
{% if gitea.use_mariadb %}
      - DB_TYPE=mysql
      - DB_HOST=db:3306
      - DB_NAME=gitea
      - DB_USER=gitea
      - DB_PASSWD={{ lookup('password', './settings/' + config_dir + '/passwords/gitea_db_password chars=ascii_letters,digits') }}
{% endif %}
      - SSH_DOMAIN={{ service_domain }}
      - SSH_LISTEN_PORT={{ gitea.gitea_ssh_port }}
      - SSH_PORT=2222
      - LFS_START_SERVER=true
      - RUN_MODE=prod
      - ROOT_URL=https://{{ service_domain }}
{% endif %}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/gitea/data:/var/lib/gitea"
      - "{{ volumes_root }}/gitea/config:/etc/gitea"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ gitea.gitea_ssh_port }}:2222"
    labels:
      - "traefik.http.services.gitea.loadbalancer.server.scheme=http"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
{% include './labels.j2' %}
{% if gitea.use_mariadb %}
    depends_on:
      - db

  db:
    container_name: gitea_db
    image: mariadb:{{ gitea.db_version }}
    networks:
      - gitea_net
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD={{ lookup('password', './settings/' + config_dir + '/passwords/gitea_db_root_password chars=ascii_letters') }}
      - MYSQL_USER=gitea
      - MYSQL_DATABASE=gitea
      - MYSQL_PASSWORD={{ lookup('password', './settings/' + config_dir + '/passwords/gitea_db_password chars=ascii_letters') }}
    volumes:
      - "{{ volumes_root }}/gitea/db:/var/lib/mysql"
{% endif %}
