---
version: '3'

networks:
  traefik_network:
    external:
      name: vivumlab_traefik
  nextcloud:

services:
  {% if nextcloud.postgres -%}
  db:
    container_name: nextcloud_db
    image: postgres:{{ nextcloud.postgres_version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/nextcloud/postgres:/var/lib/postgresql/data"
    networks:
      - nextcloud
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD={{lookup('password', './settings/' + config_dir + '/passwords/nextcloud_db_password chars=ascii_letters')}}
      - POSTGRES_USER=nextcloud
      - POSTGRES_DB=nextcloud
  {% elif nextcloud.mariadb -%}
  db:
    container_name: nextcloud_db
    image: mariadb:{{ nextcloud.mariadb_version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/nextcloud/mariadb:/var/lib/mysql"
    networks:
      - nextcloud
    restart: unless-stopped
    environment:
      - MYSQL_PASSWORD={{lookup('password', './settings/' + config_dir + '/passwords/nextcloud_db_password chars=ascii_letters')}}
      - MYSQL_USER=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/' + config_dir + '/passwords/nextcloud_db_password chars=ascii_letters')}}
  {% endif %}

  redis:
    container_name: nextcloud_redis
    image: redis:{{ nextcloud.redis_version }}
    networks:
      - nextcloud
    restart: unless-stopped

  nextcloud:
    container_name: nextcloud
    {% if nextcloud.image_type == "fpm-alpine" -%}
    build: ./build
    {% else -%}
    image: nextcloud:{{ nextcloud.version }}-{{ nextcloud.image_type }}
    {% endif -%}
    restart: unless-stopped
    {% if nextcloud.system_user -%}
    user: "{{ uid_output.stdout }}:{{ gid_output.stdout }}"
    {% endif -%}
    networks:
      {% if nextcloud.image_type != "fpm-alpine" -%}
      - traefik_network
      {% endif -%}
      - nextcloud
    volumes:
      - "nextcloud:/var/www/html"
      - "{{ volumes_root }}/nextcloud/config:/var/www/html/config"
      - "{{ volumes_root }}/nextcloud/custom_apps:/var/www/html/custom_apps"
      - "{{ volumes_root }}/nextcloud/themes:/var/www/html/themes"
      - "{{ storage_dir }}/Documents/NextCloud/data:/var/www/html/data"
    environment:
      {% if nextcloud.system_user -%}
      - UID={{ uid_output.stdout }}
      - GID={{ gid_output.stdout }}
      {% endif -%}
      {% if nextcloud.postgres -%}
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD={{lookup('password', './settings/' + config_dir + '/passwords/nextcloud_db_password chars=ascii_letters')}}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      {% elif nextcloud.mariadb -%}
      - MYSQL_HOST=db
      - MYSQL_PASSWORD={{lookup('password', './settings/' + config_dir + '/passwords/nextcloud_db_password chars=ascii_letters')}}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      {% endif -%}
      - UPLOAD_MAX_SIZE=10G
      - APC_SHM_SIZE=128M
      - OPCACHE_MEM_SIZE=128
      - CRON_PERIOD=15m
      - TZ={{ common_timezone }}
      - REDIS_HOST=redis
      - NEXTCLOUD_ADMIN_USER={{ default_username }}
      - "NEXTCLOUD_ADMIN_PASSWORD={{ default_password }}"
      - NEXTCLOUD_TRUSTED_DOMAINS={{ service_domain }}
      - NEXTCLOUD_UPDATE=1 # triggers the automated install on first run.
      # SMTP settings
      - SMTP_HOST={{ smtp.host }}
      {% if smtp.port == 587 -%}
      - SMTP_SECURE=ssl
      {% endif -%}
      - SMTP_PORT={{ smtp.port }}
      - SMTP_PASSWORD={{ smtp.pass }}
      - MAIL_FROM_ADDRESS={{ smtp.from_email }}
      - OVERWRITEHOST={{ service_domain }}
      - OVERWRITEPROTOCOL=https
    {% if nextcloud.image_type != "fpm-alpine" -%}
    labels:
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=http"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
{% include './labels.j2' %}
    {% endif -%}
    depends_on:
      - db
      - redis

  {% if nextcloud.image_type == "fpm-alpine" -%}
  web:
    build: ./web
    restart: unless-stopped
    volumes:
      - nextcloud:/var/www/html:ro
    depends_on:
      - nextcloud
    networks:
      - traefik_network
      - nextcloud
    labels:
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=http"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
{% include './labels.j2' %}
  {% endif %}

volumes:
  nextcloud:
