---
version: '3'

networks:
  traefik_network:
    external:
      name: vivumlab_traefik

services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:{{ jellyfin.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/jellyfin/config:/config"
      - "{{ storage_dir }}:/media"
      - tmpfs_jellyfin_vol:/cache
    labels:
      - "traefik.http.services.jellyfin.loadbalancer.server.scheme=http"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
{% include './labels.j2' %}

volumes:
  tmpfs_jellyfin_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs
