---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vivumlab_traefik
  mail_network:
    external: false

services:
  redis:
    container_name: mailu_redis
    image: redis:{{ mailu.redis_version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/mailu/redis:/data"
    networks:
      - mail_network

  web:
    container_name: mailu_web
    image: mailu/nginx:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    logging:
      driver: json-file
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "110:110"
      - "995:995"
      - "143:143"
      - "993:993"
    volumes:
      - "{{ volumes_root }}/mailu/certs:/certs"
      - "{{ volumes_root }}/mailu/overrides/nginx:/overrides"
    networks:
      - traefik_network
      - mail_network
    labels:
      - "traefik.http.services.mailu.loadbalancer.server.scheme=http"
      - "traefik.http.services.mailu.loadbalancer.server.port=80"
{% include './labels.j2' %}

  admin:
    container_name: mailu_admin
    image: mailu/admin:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/data:/data"
      - "{{ volumes_root }}/mailu/dkim:/dkim"
    depends_on:
      - redis
    networks:
      - traefik_network
      - mail_network
    labels:
      - "traefik.http.services.mailu-admin.loadbalancer.server.scheme=http"
      - "traefik.http.services.mailu-admin.loadbalancer.server.port=80"
      - "traefik.enable=true"
      - "traefik.docker.network=vivumlab_traefik"
      - "traefik.http.routers.mailu-admin-http.service=mailu-admin"
      - "traefik.http.routers.mailu-admin-http.rule=Host(`admin.{{ service_domain }}`)"
      - "traefik.http.routers.mailu-admin-http.entrypoints=http"
      - "traefik.http.routers.mailu-admin-http.middlewares={% if not mailu.hsts and mailu.auth %}auth@docker{% endif %}{% if mailu.hsts %}redirect@file{% endif %}"
      - "traefik.http.routers.mailu-admin.service=mailu-admin"
      - "traefik.http.routers.mailu-admin.rule=Host(`admin.{{ service_domain }}`)"
      - "traefik.http.routers.mailu-admin.entrypoints=https"
      - "traefik.http.routers.mailu-admin.middlewares={% if mailu.hsts and not mailu.auth %}hsts@docker{% endif %}{% if mailu.auth and not mailu.hsts %}auth@docker{% endif %}{% if mailu.auth and mailu.hsts %}auth_hsts@docker{% endif %}"
      - "traefik.http.routers.mailu-admin.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mailu-admin.tls.certresolver=dns"
{% if mailu.domain %}
      - "traefik.http.routers.mailu-admin.tls.domains[0].main=admin.{{ service_domain }}"
{% else %}
      - "traefik.http.routers.mailu-admin.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mailu-admin.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.mailu-admin.tls.domains[1].sans=admin.{{ service_domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.mailu-admin.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.mailu-admin-tor-http.rule=Host(`admin.{{ mailu.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.mailu-admin-tor-http.entrypoints=http"
      - "traefik.http.routers.mailu-admin-tor-http.middlewares={% if mailu.auth %}auth{% endif %}"
{% endif %}

  imap:
    container_name: mailu_imap
    image: mailu/dovecot:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/mail:/mail"
      - "{{ volumes_root }}/mailu/overrides:/overrides"
    networks:
      - mail_network
    depends_on:
      - web

  smtp:
    container_name: mailu_smtp
    image: mailu/postfix:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/overrides:/overrides"
    networks:
      - mail_network
    depends_on:
      - web

  antispam:
    container_name: mailu_antispam
    image: mailu/rspamd:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/filter:/var/lib/rspamd"
      - "{{ volumes_root }}/mailu/dkim:/dkim"
      - "{{ volumes_root }}/mailu/overrides/rspamd:/etc/rspamd/override.d"
    networks:
      - mail_network
    depends_on:
      - web

  # Optional services
  antivirus:
    container_name: mailu_antivirus
    image: mailu/clamav:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/filter:/data"
    networks:
      - mail_network

  webdav:
    container_name: mailu_radicale
    image: mailu/radicale:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/dav:/data"
    networks:
      - mail_network

  certdumper:
    container_name: mailu_certdumper
    restart: unless-stopped
    image: mailu/traefik-certdumper:{{ mailu.version }}
    environment:
      - DOMAIN={{ service_domain }}

    volumes:
      # Folder, which contains the acme.json
      - "{{ volumes_root}}/traefik:/traefik"
      # Folder, where cert.pem and key.pem will be written
      - "{{ volumes_root }}/mailu/certs:/output"

  webmail:
    container_name: mailu_webmail
    image: mailu/rainloop:{{ mailu.version }}
    restart: always
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/webmail:/data"
    depends_on:
      - imap
    networks:
      - traefik_network
      - mail_network
    labels:
      - "traefik.http.services.mailu-webmail.loadbalancer.server.scheme=http"
      - "traefik.http.services.mailu-webmail.loadbalancer.server.port=80"
      - "traefik.enable=true"
      - "traefik.docker.network=vivumlab_traefik"
      - "traefik.http.routers.mailu-webmail-http.service=mailu-webmail"
      - "traefik.http.routers.mailu-webmail-http.rule=Host(`webmail.{{ service_domain }}`)"
      - "traefik.http.routers.mailu-webmail-http.entrypoints=http"
      - "traefik.http.routers.mailu-webmail-http.middlewares={% if not mailu.hsts and mailu.auth %}auth@docker{% endif %}{% if mailu.hsts %}redirect@file{% endif %}"
      - "traefik.http.routers.mailu-webmail.service=mailu-webmail"
      - "traefik.http.routers.mailu-webmail.rule=Host(`webmail.{{ service_domain }}`)"
      - "traefik.http.routers.mailu-webmail.entrypoints=https"
      - "traefik.http.routers.mailu-webmail.middlewares={% if mailu.hsts and not mailu.auth %}hsts@docker{% endif %}{% if mailu.auth and not mailu.hsts %}auth@docker{% endif %}{% if mailu.auth and mailu.hsts %}auth_hsts@docker{% endif %}"
      - "traefik.http.routers.mailu-webmail.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mailu-webmail.tls.certresolver=dns"
{% if mailu.domain %}
      - "traefik.http.routers.mailu-webmail.tls.domains[0].main=webmail.{{ service_domain }}"
{% else %}
      - "traefik.http.routers.mailu-webmail.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mailu-webmail.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.mailu-webmail.tls.domains[1].sans=webmail.{{ service_domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.mailu-webmail.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.mailu-webmail-tor-http.rule=Host(`webmail.{{ mailu.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.mailu-webmail-tor-http.entrypoints=http"
      - "traefik.http.routers.mailu-webmail-tor-http.middlewares={% if mailu.auth %}auth{% endif %}"
{% endif %}
