[Interface]
ListenPort = 54820
FwMark = 0xca6c
PrivateKey = {{ hostvars.myserver.wg_private_keys['content'] | b64decode }}

[Peer]
PublicKey = {{ hostvars.bastion_server.wg_public_keys['content'] | b64decode }}
AllowedIPs = 0.0.0.0/0, ::/128
Endpoint = {{ bastion.server_address }}:{{ bastion.wireguard.port }}
PersistentKeepalive = {{ bastion.wireguard.keepalive }}
