[Interface]
Address = {{ bastion.wireguard.bastion_vpn_address ~ bastion.wireguard.netmask }}
ListenPort = {{ bastion.wireguard.port }}
PrivateKey = {{ hostvars.bastion_server.wg_private_keys.content | b64decode }}
SaveConfig = true

[Peer]
PublicKey = {{ hostvars.myserver.wg_public_keys.content | b64decode }}
AllowedIPs = {{ bastion.wireguard.vlab_vpn_address ~ bastion.wireguard.netmask }}
