---
version: '2.4'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vivumlab_traefik
  hubzilla_internal:
    name: hubzilla_net

services:
  web:
    container_name: hubzilla_web
    image: nginx:{{ hubzilla.web_version }}
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - "{{ volumes_root }}/hubzilla/data:/var/www/hubzilla"
      - "{{ volumes_root }}/hubzilla/conf/hubzilla-nginx.conf:/etc/nginx/nginx.conf:ro"
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.hubzilla.loadbalancer.server.scheme=http"
      - "traefik.http.services.hubzilla.loadbalancer.server.port=80"
{% include './labels.j2' %}

  app:
    container_name: hubzilla
    image: sebt3/hubzilla:{{ hubzilla.version }}
    restart: unless-stopped
    depends_on:
      - web
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_TYPE: postgres
      DB_NAME: hubzilla
      DB_USER: hubzilla
      DB_PASSWORD: {{lookup('password', './settings/' + config_dir + '/passwords/hubzilla-db_password')}}
      HUBZILLA_DOMAIN: {{ service_domain }}
      HUBZILLA_ADMIN: admin@{{ service_domain }}
      SMTP_HOST: {{ smtp.host }}
      SMTP_PORT: {{ smtp.port }}
      SMTP_USER: {{ smtp.user }}
      SMTP_PASS: {{ smtp.pass }}
    volumes:
      - "{{ volumes_root }}/hubzilla/data:/var/www/hubzilla"
    networks:
      - traefik_network
      - hubzilla_internal

  cron:
    container_name: hubzilla_cron
    image: sebt3/hubzilla:{{ hubzilla.version }}
    depends_on:
      db:
        condition: service_healthy
    command: ["crond", "-f"]
    volumes:
      - "{{ volumes_root }}/hubzilla/data:/var/www/hubzilla"
    networks:
      - hubzilla_internal

  db:
    container_name: hubzilla_db
    image: postgres:{{ hubzilla.db_version }}
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: {{lookup('password', './settings/' + config_dir + '/passwords/hubzilla-db_password')}}
      POSTGRES_USER: hubzilla
      POSTGRES_DB: hubzilla
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hubzilla"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - "{{ volumes_root }}/hubzilla/db:/var/lib/postgresql/data/"
    networks:
      - hubzilla_internal
